[2019-08-13 14:31] Kincade120 opened #1 "SPI Device Not Found"
Attempting to run the python code on Raspian, I get

[code]

My python version is 3.7.3

 Not sure where Im going wrong here.

[2019-08-14 16:07] stuartbain commented on #1
Is SPI enabled in Raspbian?

`sudo raspi-config`

Select 5 Interfacing Options, then P4 SPI, Yes (to enable the SPI interface)

[2019-08-15 15:30] dlcollins opened #2 "Permission Denied after Push completion"
15.08.19 16:29:13 (+0100) Killed service 'main sha256:1f47a99718ae0b9c019aa4787361e8e3e90a14ad2a8ddf89e906a9bd2ab9b4b7'

How do I give the script the right permissions to run?

[2019-08-16 15:46] #2 closed

[2019-08-16 15:49] chrisys commented on #2
@dlcollins I guess you're pushing from Windows? It's a known issue here: https://github.com/balena-io/balena-cli/issues/1323

I've just pushed a fix that should work around it for you anyway - let me know if it works.

[2019-08-18 14:31] KeirDavis1 commented on #1
@stuartbain That fixed it for me! Thankyou!

[2019-08-19 07:52] chrisys commented on #1
Good stuff @KeirDavis1 - thanks for helping @stuartbain. Would be great to see some photos when you finish the project.

[2019-08-19 17:37] joural opened #3 "use National rail api"
I found out that transport api is very unreliable, any chance of swapping to national rail api?

[2019-08-20 09:47] chrisys commented on #3
Hey @joural what problems did you have with it? I've been using Transport API for a few weeks and never had an issue - maybe we can contact them?

But otherwise I've no objections to adding the National Rail API as an option for people, it's good to have more options, right? 👍

[2019-08-20 10:56] joural commented on #3
The information from transport API doesn't seem to be as accurate as from national rail, national rail gets information directly from all TOCs. Like yesterday my screen was showing service as running late, when in reality it was starting late at start station, and was not longer calling at my stop=was cancelled, transport API didn't pick this up, same when there was distribution on my line, it was

[2019-08-20 10:58] joural commented on #3
I'm trying to change your code to take national rail, but is proving very difficult for my novice skills.
One thing to note is national rail API requires to display disclaimer message periodically and uses soap

[2019-08-23 08:44] madwort commented on #3
Hi @joural,

Sorry to hear you've seen some poor data quality on TransportAPI. We get our train data from amalgamating several different open data feeds direct from Network Rail, which allows us to make the data available for your use with no restrictions (disclaimer messages, rules on what the data can be used for, etc), and in a hopefully very convenient form (JSON API, rather than SOAP). We do

[2019-08-23 10:23] joural commented on #3
@madwort I appreciate the quality of data supplied by transport API, without being connected to the source (national rail), I can only imagine the lenghts to gather all that information. I will keep my eyes peeled and report 😉

[2019-08-31 10:27] tomers opened #5 "Add instructions how to power Pi Zero from GPIO ports"
It would be nice to add information how to power the Pi Zero. The original article at https://www.balena.io/blog/build-a-raspberry-pi-powered-train-station-oled-sign-for-your-desk/ describes how to use a USB cable for powering the zero, but it overlooks the information as how to connect the power and ground pins to the Zero board. I found it here: https://thepihut.com/blogs/raspberry-pi-tutorials/

[2019-08-31 13:17] kurthamm opened #6 "31.08.19 09:14:01 (-0400) main /bin/sh: 1: ./balena-run.sh: not found"
I tried to install the latest version which fixed the permissions issue by adding a CHMOD a+x.  I got this file not found error.  I went back to the old version and got the familiar permission error.  I SSH to OS and found two instances of the file balena-run.sh.  One in VAR and one in MNT.  Once I manually CHMOD both files, I rebooted.  Then, I started getting the "not found" error.  Something ab

[2019-09-01 12:28] timmo11 opened #7 "Select Platform"
Would it be possible to add environment variable so that only trains leaving from platform X are displayed? I noticed this info is available in the TransportAPI. If the string is null or * then all trains are displayed

Thanks

Tim

[2019-09-04 22:33] kurthamm commented on #6
I pushed the application from Debian linux with Git and everything worked great.  I had all the problems when trying to use Windows OS.

[2019-09-04 22:33] #6 closed

[2019-09-13 09:27] madwort commented on #3
Hi @jajsilver ,
Yes, I can see that would be useful, I'll discuss with colleagues & file a feature request.
Bear in mind that if you're setting up a customised departure board for your own use, you can filter the live departures like this:
https://transportapi.com/v3/uk/train/station/STP/live.json?destination=SUO&calling_at=WIM
(shows only Sutton via Wimbledon trains)
Or alternatively, I think you

[2019-09-16 17:53] rogerw-gh opened #9 "departures environment variable is not set"
Worked through the configuration - which is brilliant BTW, I've already got Chris Hutchinsons' version working.  The balena console logs in balena cloud is constantly going round complaining about the 'departures' environment variable not being set.  I've tried setting one and restarting the Pi and its still complaining..  Have set departures as an environment variable in the Application Environme

[2019-09-19 08:08] chrisys commented on #9
@rogerw-gh can you post screenshots of your configuration variables and the log output? Just asking as the variable isn't actually called `departures`, it's `departureStation` as per the [configuration section](https://github.com/balena-io-playground/UK-Train-Departure-Display#configuration) in the readme.

[2019-10-06 17:02] jajsilver commented on #3
@joural @chrisys I set myself this as a project and have now had a go at rewriting to use National Rail OpenLDBWS (Darwin feed) in an attempt to teach myself Python! See my fork here:
https://github.com/jajsilver/UK-Train-Departure-Display-NRE
It now accommodates multiple destinations (trains that split) and the via attribute.
If you get the chance to test it out and let me know how it goes for yo

[2019-10-08 09:38] chrisys commented on #3
@jajsilver awesome, great work! I will give it a go sometime this week hopefully.

[2019-10-08 09:55] joural commented on #3
@jajsilver truly awesome, I will as well give it a go when I ll have spare time, thank you it truly is appreciated

[2019-10-08 09:56] #3 closed

[2019-10-08 09:56] chrisys commented on #9
@rogerw-gh closing this for now but feel free to re-open if it's still an issue when you get a chance to look at it.

[2019-10-08 09:56] #9 closed

[2019-10-17 12:42] Domocn opened #10 "How to change display size?"
I would like to create my own train departure board using three 32 x 64 rgb led panels but i have no idea how to change the coding and i did not want to spend a fortune on the pre built ones as making it myself would be much more rewarding and cheaper!

[2019-10-20 11:01] Chuckatron opened #11 "Can't seem to set timezone"
Hey - I finally got round to building this and it's working great, so thanks very much for your work on this! I'm trying to change the timezone from the default which appears to be UTC. I've read around and it seems I should have a `balena-timezone` program on my host OS, but I don't appear to:
![image](https://user-images.githubusercontent.com/13105021/67158548-3d5d9100-f331-11e9-9a12-6b77334c11a

[2019-10-21 16:08] chrisys commented on #11
Hey @Chuckatron have you tried setting the `TZ` environment variable for the device? If you set it to the 'TZ database name' as per this list: https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

That should work - let me know if not!

[2019-10-21 16:15] Chuckatron commented on #11
Hi @chrisys Yes, that's how I have it set, at least I think it's right:

![screenshot-dashboard balena-cloud com-2019 10 21-17_10_53](https://user-images.githubusercontent.com/13105021/67222792-f3a2a280-f425-11e9-93b0-0a8ca7ef1e70.png)

When I check the host's timezone, it seems to think it's UTC:
[code]
Container is slightly different:
[code]
Any ideas on anything I might have got wrong?

[2019-10-21 17:33] chrisys commented on #11
@Chuckatron interesting, what balenaOS version are you using?

[2019-10-21 17:45] Chuckatron commented on #11
@chrisys I'm using balenaOS 2.32.0+rev1

[2019-11-20 21:55] CDunhill opened #12 "GPIO Error Message"

[2019-11-20 22:22] #12 closed

[2020-01-08 12:40] Pauld-1 opened #13 "will multiprocessing help?"
I'm very impressed with my display which I built over the weekend, thanks to everyone who has contributed. Setting it up in Balena was fairly simple.

I unfortunately have very little experience with Python but was wondering if multiprocessing could help smooth the scrolling of "calling at:" if the clock and destination displays were in separate processes? The clock display could then also persist

[2020-03-02 09:16] anujdeshpande opened #15 "Show weather along with train details"
Interesting idea from the forums  - https://forums.balena.io/t/uk-train-times-enhancements/68093

[2020-03-22 20:14] mehstg opened #16 "Sluggish scrolling/dropping seconds on clock"
I have recently installed this, however I have noticed the clock does not smoothly "tick" sometimes dropping seconds. Is this a known issue? It seems everything is done in a single thread in the while True loop, wonder if this is causing the slow performance.

[2020-04-09 11:13] chrisys commented on #16
@mehstg I see the same thing on mine, this is related to #13 - definitely improvements could be made here!

[2020-04-09 13:29] chrisys opened #17 "Ensure all required variables give a friendly error message when not set"
I'm looking at you, *refreshTime*. If this is not set you might get an error like `Error: Expecting value: line 1 column 1 (char 0)`.

[2020-04-10 22:22] pdcastro opened #18 "`config.json` not pushed because it is listed in `.gitignore`"
There is logic in the [balena-run.sh](https://github.com/balenalabs/uk-train-departure-display/blob/master/balena-run.sh) file to decide whether to use an existing `config.json` file or copy from `config.sample.json`.
[code]
Having seen that logic, I [advised a user in a forum thread](https://forums.balena.io/t/local-mode-not-working/92301/25) to create a `config.json` as I thought it would be mor

[2020-04-11 09:33] pdcastro commented on #18
The project's `config.json` file contains an API key (`transportApi.apiKey`) and it is not good practice to commit keys to git repositories, especially of course public ones. But removing the `config.json` line from the `.gitignore` file does require committing `config.json` to the repo: one could live with `git status` reporting "untracked files" for some time. Progress is being made on CLI issue

[2020-04-11 10:19] chrisys commented on #18
@pdcastro you got it, the `config.json` was added to `.gitignore` for the reason of not committing these private keys. I've always worked with setting the variables on the command line when developing in local mode for this project.

[2020-04-11 14:55] pdcastro commented on #18
Thanks @chrisys. I gather that using a `config.json` file would similarly not work when pushing to the cloud, whether `git push` or `balena push`. So basically, at the moment (with `config.json` listed in the `.gitignore` file), it is not possible to use a `config.json` file with this project, whichever the push method or target.

The logic in the `balena-run.sh` script is that, if a `config.json`

[2020-05-26 12:54] chrisys commented on #15
I can't find any photos of UK train signs that show weather information, so. I'm gonna close this as it's outside the scope of the project. To anyone reading: by all means prove me wrong and reopen this :)

[2020-05-26 12:54] #15 closed

[2020-05-26 12:55] #18 closed

[2020-05-26 13:48] chrisys commented on #17
This is covered by #19

[2020-05-26 13:48] #17 closed

[2020-05-26 14:01] chrisys commented on #11
This seems to be fixed. @Chuckatron please do repoen this if you're continuing to have issues with it, I'd also suggest trying a fresh build in order to get the latest base images.

[2020-05-26 14:01] #11 closed

[2020-09-11 09:12] chrisys opened #24 "User would like an alternative case"
User `GOTO GOTOSUB` in [this comment](http://disq.us/p/2brl19a) asks for an alternative case design that would allow the unit to sit on a desk rather than hang from support as existing.

[2020-12-03 15:10] scotta228 opened #26 "Tweak to add London Underground stations"
Would it be possible to add option via new variable and amendment in trains.py to allow the alternative web call?
London underground data calls require the Line name to be included in the call.

New variable: SERVICE_TYPE - value is text:    null / blank / train / tube        (I haven't looked at other networks)
New variable: SUB-TYPE - value is text: null / blank or text string [A-Z|a-z]*

URL -

[2021-01-09 16:49] mbh-dev opened #28 "Add operator to environment variable"
Is it possible to add an additional environment parameter to show the operator of a train service?

[2021-01-18 11:12] chrisys commented on #26
@scotta228 I'd love to see this implemented, it'd be great to get this into the project as an option.

[2021-01-18 15:02] scotta228 commented on #26
Actually, there is a different project on GitHub using the TfL OpenAPI which better suits the tube. TfL data is based on arrivals, rather than departures, and there are problems at the end of lines (where the route starts), so it's far from perfect. I've tweaked this other project to work with the Balena architecture, but it needs to remain a completely separate project, as it uses a different dat

[2021-01-18 15:02] #26 closed

[2021-01-19 17:43] chrisys commented on #26
@scotta228 what project is that?

[2021-01-19 18:44] scotta228 commented on #26
https://github.com/petykowski/London-TFL-Arrivals-Board

[2021-01-27 16:52] satellitejack opened #29 "error message - needs clearer information"
I received an error when using Balena desktop of:
Error: Please ensure the ‘departures’ environment variable is set

well there is no global variable called 'departures' cane you please rename to the actual variable required

[2021-03-14 19:39] daneverest commented on #29
I'm having this problem as well. How did you fix it?

[2021-05-31 20:13] stevebonito opened #32 "Error: Please ensure the 'departures' environment variable is set"
Great walk through and deployment info, struggling to set live and getting 'Error: Please ensure the 'departures' environment variable is set' message in Balena Log, just keeps looping round leading to no output to the oled screen.

Error code below:
[code]

[2021-07-06 16:21] stevecady commented on #32
I'm having the same issue - did you manage to resolve it?

[2021-07-06 16:21] stevecady commented on #29
I'm having the same issue too - did you manage to resolve it?

[2021-07-06 18:43] satellitejack commented on #29
Work on it likethis: it does work so what am I doing wrong?
Memory, dont skimp, get a good one, like Sandisk
The wifi only works at 2.4GHz

Use your phone as a hotspot, that works too.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: stevecady ***@***.***>
Sent: Tuesday, July 6, 2021 5:21:32 PM
To: chrisys/uk-train-departure-display ***@***.***>
Cc: Jack Buechler

[2021-07-08 13:50] #7 closed

[2021-07-08 13:50] #29 closed

[2021-07-08 13:50] #32 closed

[2021-07-08 14:14] chrisys commented on #32
@stevebonito this should be addressed in the latest version of the code now - please feel free to reopen this if not!

[2021-07-08 14:14] chrisys commented on #29
@satellitejack I think this is addressed in the latest version of the code now - please feel free to reopen and let me know if not!

[2021-07-09 13:32] chrisys commented on #28
@mbh-dev do you just want to filter the services based on the operator or have the display actually show the operator?

[2021-07-09 13:59] mbh-dev commented on #28
Hi @chrisys to display the operator of possible please

[2021-07-13 12:12] #16 closed

[2021-07-13 12:14] chrisys commented on #13
I've made some more improvements to help with this. As far as I can see I'm not sure if separate processes would be possible with this library and display, but I do think it's much better now than it was. Feel free to reopen if you're still thinking it could be better!

[2021-07-13 12:14] #13 closed

[2021-07-13 12:18] chrisys commented on #10
@Domocn it's not going to be trivial to change the display size, but it wouldn't be too much work either. I would recommend taking a look at the Luma library which the project uses to interface with the display; it does have options for interfacing with other display types.

Changing the size would be a matter of reconfiguring the drawing routines to place the components of the display differently

[2021-07-13 12:18] #10 closed

[2021-07-30 07:38] chrisys opened #36 "TZ is not set in new busybox container"

[2021-08-02 05:15] rahul-thakoor commented on #36
Can you try installing `tzdata` in the build stage?

[2021-08-02 11:46] #36 closed

[2021-10-26 09:21] mattanorak opened #39 "Needs the ability to use a different api service"
Excellent project and thanks to those involved.
The transportapi accounts that are created now only get 30 days free now (but at a higher tier), so the ability to use a different api (such as network rail, realtime trains, etc.) would be welcomed and would help keep this running for those who started using the project after transportapi changed the free tier.

Thanks!

[2021-11-01 02:35] mattanorak opened #43 "Add ability to blank screen between certain times"
Although there is a station operating hours variable, it would be good if there was an option to turn off the display completely between certain hours.
eg:
[code]
(Same format as the out of hours variable).

[2021-11-01 21:59] #28 closed

[2021-11-01 21:59] #39 closed

[2021-11-03 01:22] #43 closed

[2021-11-04 09:36] mattanorak opened #45 "Refresh screen occasionally shows welcome screen instead of blank screen."
Occasionally, on refresh, I see the "Powered by National Rail Enquiries" message, then a blank screen, then the display resumes.  Here's an export from the log at the time that it happened:

[code]

[2021-11-04 09:42] mattanorak opened #46 "Raspberry Pi Zero WH maxes out at 100% constantly"
Looking in the dashboard, I see that my RPi Zero WH is constantly maxing out at 99-100% CPU and the effective FPS is anywhere from about 2.2 to 2.22 - consequently the refresh on the screen (when text scrolls) is very slow and jumpy rather than smooth as with the Pi3.  I also notice that the clock at the bottom sometimes misses a second or catches up after a pause (especially at the time when scro

[2021-11-05 00:55] chrisys commented on #46
This is something that's bugged me for a long time, and I have had a few different debugging sessions with no real improvement. I did the original development work on a Pi 3 and like you found it to be a lot smoother, but had to sacrifice the performance for the convenient form factor of the Zero. However with the recent release of the Zero 2 I am hoping we can have the best of both worlds! I have

[2021-11-06 10:30] mattanorak commented on #46
I've got one coming next week as well.  What device would it be under in Balena Cloud?

[2021-11-07 14:26] LeePorte opened #47 "Multiple displays"
Hi,

What do you think about the option to have multiple displays? The Pi could support this as it has 2 i2c busses (https://github.com/rm-hull/luma.core/issues/55#issuecomment-286868008).

My use case is that I have a 2 platform station and would like to have one display for platform 1 and one display for platform 2.

[2021-11-07 14:27] LeePorte commented on #46
I have a zero 2 and am seeing 78 - 82% CPU utilisation.

[2021-11-09 20:35] chrisys commented on #46
We're still working on adding the device type to balenaCloud but it shouldn't be too much longer. This is the issue to follow for updates: https://github.com/balena-os/balena-raspberrypi/pull/725

[2021-11-09 20:39] chrisys commented on #46
@LeePorte what effective frame rate does the code report in the logs when you're running on the Zero 2?

[2021-11-09 21:07] LeePorte commented on #46
I've seen highs of 17.91 and lows of 10.86

[code]

[code]

[2021-11-10 21:48] mattanorak commented on #46
Excellent - might give that a try while I'm waiting for the device type to appear on BalenaCloud (physical device arrived today).

[2021-11-10 22:03] LeePorte commented on #46
If it would help I can post up the systemd service file.

[2021-11-11 00:10] mattanorak commented on #46
Exellent - if you can!

[2021-11-11 15:10] LeePorte commented on #46
Here's my service file to use as a base

[code]

[2021-11-11 17:50] mattanorak commented on #46
Perfect - thank you.  I'll give it a go later tonight on the Zero2 and let you know how I get on.

[2021-11-14 00:20] mattanorak commented on #46
Thanks, @LeePorte - For some reason I couldn't get the service file to work, so instead I edited config.py (I also had to put VERSION in the home directory (I think that was a Path statement thing though - or lack thereof).
What I did was just create a cron entry to run on boot and that did the trick.
Before I could get it to work, I had to do a few things like install the dependencies in the requ

[2021-11-15 08:40] mattanorak commented on #46
@LeePorte - Odd, I've noticed that this seems to stop running after a while (after 30 mins this morning).  I checked using:
`ps-ef |grep main`
and I didn't see the main.py process running as I normally do, so this seems to have terminated.
I am running the command with:
`python3 /home/pi/uk-train-departure-display/src/main.py &`
It's running in the cron as an @reboot, so rebooting fixes it - tempo

[2021-11-15 12:30] LeePorte commented on #46
I had seen some network timeouts that caused it to die. Though since using the systemd service file, I've not had that issue as it has restart on failure set.

I used the following to create and enable the systemd service file

[code]

What method did you use to try and install it?

[2021-11-15 12:41] mattanorak commented on #46
I seem to remember doing something similar (with nano, though, not vi).
what did you put in `train-sign.service`?

[2021-11-15 12:46] LeePorte commented on #46
Nano is fine, use your editor of choice

The contents of train-sign.service was the following with some of the details adjusted (<STATION_CODE>, <API_KEY> and <STATION_NAME>) to suit my info.

[code]

It might we worth checking your python3 path with `which python3` and making sure it matches.

[2021-11-15 12:52] mattanorak commented on #46
Yep, I set python3 to run as default and in the script anyway, I call python3 ....
I also found that running it like this will also restart the process (I think) if it terminates:
`setsid python3 /home/pi/uk-departure-display/src/main.py < /dev/zero &> /home/pi/log.txt &`

Next, if this keeps terminating (which it seems to be OK up to now), I'll try belt and braces like this:

`!/bin/bash
if [ $(p

[2021-11-15 13:59] mattanorak commented on #46
OK, I got it working as a service now.  I'll see how long it stays up.  The only difference I used here (and that seemed to get it working) was instead of:
`After=multi-user.target`
I used:
`Requires=network.target`
and then in the main section I added:
`User=pi`

Fingers crossed....

[2021-11-15 15:42] mbh-dev opened #48 "Issue with Balena deploy Raspberry Pi W 0"
Hi,

I've been trying to deploy this app using balena to a Raspberry Pi 0 W, however there's either an issue with Balena to this app, as the Pi doesn't seem to boot and is not visible on the Balena dashboard.

Has anyone else experienced this issue?

Thanks.

[2021-11-15 19:54] LeePorte commented on #46
@mattanorak How's it been holding up?

[2021-11-15 20:10] AtomicLaser opened #49 "Service Restarting"
Installed everything as per the Belina import, changed the API code to my own and seem to hit an issue where the service constantly restarts after flashing up the **UKTrainDepartureDisplay - Powered by National Rail Enquiries**

Any ideas at all?

Here's a log which repeats in the log

Service exited 'main sha256:b7e488964f2c1fee59caa39981ce41314fa040bdfb029ec29813c7017e15ddae'
Restarting service

[2021-11-15 20:23] LeePorte commented on #46
Interestingly CPU usage seems to be a little lower under Bullseye

![bullseye-cpu](https://user-images.githubusercontent.com/922815/141848673-a811fdb7-ffda-4f5e-af39-2353603cd586.png)

[2021-11-16 08:49] mattanorak commented on #46
Seems to be OK - stayed up all yesterday and is still there this morning :-)
CPU seems roughly the same as yours.
![image](https://user-images.githubusercontent.com/10039838/141952495-2cc9a4cb-7a72-43d6-9c3f-3f013a008f3f.png)

Thanks for the assistance - will keep an eye on it and see how it goes.

[2021-11-16 10:02] AtomicLaser commented on #49
Managed to resolve this, I was following the blog on the balena website which details to get a TransportAPI key.  Having looked into it these instructions are old and you now need to get an API key from NRE, all is working apart from another issue  which I'll post separately.

[2021-11-16 10:02] AtomicLaser commented on #49
Closing

[2021-11-16 10:02] #49 closed

[2021-11-16 10:06] AtomicLaser opened #50 "GPIO Issue - Channel already in use"
Hey all, having got this working, I am now having an issue with a GPIO warning - Logs below if anyone knows how this can be resolved?

I am running on a Raspberry Pi3

main  Starting Train Departure Display v0.1.1
 main  /usr/src/python-packages/luma/core/interface/serial.py:200: RuntimeWarning: This channel is already in use, continuing anyway.  Use GPIO.setwarnings(False) to disable warnings.
 m

[2021-11-17 01:26] #48 closed

[2021-11-19 11:55] mattanorak opened #52 "timeOffset = screenRotation ?"
Just noticed this in config.py

`data["journey"]['timeOffset'] = os.getenv("screenRotation") or "0"`

It looks like `timeOffset` will be equal to whatever you have your screen rotation set to (0 or in my case, 2).

Is this right?

[2021-11-19 11:56] mattanorak commented on #50
I think it's quite normal if the program has already been running and you're running it again.  As far as I recall, unless it doesn't start, you can ignore it, but I'm prepared to stand corrected.

[2021-11-19 11:58] mattanorak commented on #45
Seems to be fixed with the latest version.

[2021-11-19 11:58] #45 closed

[2021-11-19 12:02] mattanorak commented on #52
Ah, ignore me.  I've just seen that it's already been noted:
https://github.com/chrisys/uk-train-departure-display/pull/51

[2021-11-19 12:02] #52 closed

[2021-11-21 19:51] ThinklingUK opened #53 "Time offset code"
in config.py I see
data["journey"]['timeOffset'] = os.getenv("screenRotation") or "0"

I'm guessing the os.getenv should be for "timeOffset"

[2021-11-23 20:56] LeePorte commented on #47
I've got it working on my fork

![IMG_20211123_193305](https://user-images.githubusercontent.com/922815/143117171-3f8dfcde-716f-4add-acb8-d05b79048f8b.jpg)

In the case of there being no platform assigned it is skipped in the filter until the train is assigned a platform.

Would there be any interest in raising a PR for this? As it is controlled by environment variables the single display behaviou

[2021-11-23 20:59] LeePorte commented on #53
I've raised a PR for this https://github.com/chrisys/uk-train-departure-display/pull/51

[2021-12-06 16:05] chrisys commented on #46
Hey @LeePorte @mattanorak since balena now has support for the Pi Zero 2 I wonder if you guys have given it a try?

[2021-12-06 16:09] chrisys commented on #53
Thanks @LeePorte I'll get to reviewing this asap - I've been offline for a couple of weeks!

[2021-12-06 16:10] chrisys commented on #47
@LeePorte absolutely! This looks really cool. I'm interested in seeing your implementation but otherwise have no objections to this feature being added. Again my apologies for the late reply as I've been offline for a couple of weeks.

[2021-12-06 16:11] chrisys commented on #50
What @mattanorak says is my understanding too; we can probably handle this in a more graceful manner but as it stands I've seen the message a lot but it's never actually caused an issue. I'll leave this issue open as a reminder for us to do that :)

[2021-12-06 16:20] AtomicLaser commented on #50
FWIW, my original issue with this is that the screen blanked at the same time as the log message and would not resume.

After doing some investigation, I think there was an issue with the solder blob on the 4SPI jumper, so after fixing that I've not had any other issues, although as noted, it still does show up in the logs from time to time without any further issue.

[2021-12-06 19:37] LeePorte commented on #46
I confess i have not. I've been working on the dual display. If I get a chance I'll give it a spin in the next few days.

[2021-12-06 19:49] LeePorte commented on #47
No worries about the time, real life is a thing we all have!

I've created https://github.com/chrisys/uk-train-departure-display/pull/54 for you to have a look at for my implementation. There is probably plenty of optimisation that can be done.

[2021-12-07 11:41] mattanorak commented on #46
Hi - also not had chance to test.  I'll see if I can do that this week.  I've got a couple of Zero W 2's now and some spare memory cards, so if I get some time I'll give it a whirl.

[2021-12-09 23:41] chrisys commented on #46
Just a heads up guys, I haven't attached a display to my Zero 2 yet but I did try building the project for the Zero 2 and it fails. The way to get it to work at the moment is to set the default device type for the balenaCloud application to the Zero 1 (as you would have done before), then add a Zero 2 to the Zero 1 application. This way the builders build for the 32 bit architecture of the Zero 1

[2021-12-09 23:48] chrisys opened #55 "Project does not build for aarch64 (Pi Zero 2)"
Currently the project does not build if you select the Pi Zero 2 (or other aarch64 device) as your default device type in balenaCloud.

The way to get it to work at the moment is to set the default device type for the balenaCloud application to the Zero 1 (as you would have done before), then add a Zero 2 to the Zero 1 application. This way the builders build for the 32 bit architecture of the Zer

[2021-12-10 00:11] #55 closed

[2021-12-10 00:12] chrisys commented on #46
Scratch that, it should work now due to the workaround in #56

[2021-12-23 14:50] chrisys opened #57 "Ease of use, UX, kits, open fleets, and more!"
I've had a few people contact me wondering if there are kits available, as well as people giving these as gifts to non-technical friends/family members for novelty and practical reasons.

I have been thinking of ways how to make this easier for people. Some things to investigate:

1. Consider adding [WiFi Connect](https://github.com/balenablocks/wifi-connect) to the project to allow dynamic setup

[2021-12-29 17:53] LeePorte commented on #47
All merged in so closing the issue. Thanks for taking the time to review the issue and the PR

[2021-12-29 17:53] #47 closed

[2021-12-30 18:05] mattanorak opened #58 "Multi Screen variables"
In readme.md, it says:

[code]
This should read **`screen1Platform`** and **`screen2Platform`**, as per the `config.py`

[2021-12-31 11:17] mattanorak opened #59 "Enhancement request: Train stop times and current location"
Hi - one possible enhancement request would be to add train stopping times and last known location, such as:
`Calling at: Wigan North Western (11:25), Preston (11:38), Lancaster (11:55) - Last reported passing Crewe Junction at 10:55`

I _think_ this information still comes from the National Rail API (Alternative) - like this one, for example:
https://departureboards.mobi/departures/WBQ

[2021-12-31 11:20] mattanorak opened #60 "Enhancement Request: Dual Screen, 2 stations"
Not sure how easy or feasible this will be to achieve, but having got the dual screen setup working, I'm wondering if it'd be possible to have each screen showing a different station.
In order to do this, it would probably be best to have seaparate variables such as apiKey, so that a different APIKey can be used (if required) for each of the 2 stations.

Just a thought...

[2022-01-02 11:30] chrisys commented on #58
Closed in #61

[2022-01-02 11:30] #58 closed

[2022-01-03 15:22] chrisys opened #62 "Create alternate platform layout"
![Uploading platform_sign.png…]()

I noticed today that some platforms have a sign which shows more information about the layout and carriages, this is a reminder to look into the possibility of replicating that.

[2022-01-17 19:19] #24 closed

[2022-02-04 08:05] AtomicLaser commented on #15
I came across this which reminded me that I'd seen this post; it shows the weather ability on the infotec CIS screens

![](https://www.infotec.co.uk/uploads/images/f-series/screens-bw.jpg)

[2022-02-07 15:25] chrisys commented on #15
@AtomicLaser oh very cool! Consider me proven wrong, reopening.

[2022-02-17 11:34] jruys opened #65 "Documentation: API provider changed"
You may want to add a note in the documentation that the API provider seems to have changed from TransportAPI to OpenLDBWS API. If you have a setup where you have a separate Application ID and Application Key - you need to register for the new API.

Had me scratching my head for a bit to work out why my setup had stopped working.

[2022-02-17 13:46] chrisys commented on #65
@jruys thanks for the prompt - will do so!

Did you manage to get the project running OK again with the new API provider?

[2022-02-17 15:59] jruys commented on #65
Yes, once I realised I had to register for a new API key and fill it in the apiKey field, it all started working again! What triggered me is that the key in the documentation looked different from mine and the Application ID had gone 😄

[2022-02-23 02:10] #65 closed

[2022-02-23 16:32] mattanorak opened #66 "Display turns blank after a few days - needs a reboot"
Sorry I can't be a bit more specific here.  I've just come back and noticed that the displays on both my Pis are blank - this seems to happen after a few days.  Only a reboot brings them back on.

I've not updated the APIKey to the new format - but I think this was happening before that.  I suspect they can't get a connection or something at some point and then just time out and never bother tryin

[2022-03-01 16:15] chrisys commented on #66
@mattanorak I'm not really sure, I'd suggest updating to the latest version anyway as there are other changes and fixes after the API was changed that may help. If it's still happening once you're running on the latest version then we might stand a better chance of figuring it out.

IIRC you were using the Pi Zero 2 right? I have since updated my unit to the same device and am running it on balena

[2022-03-02 09:08] Stavrosi opened #67 "Departure board on steroids...."
Hey Chris, hope you're keeping well chap.

I stumbled across your awesome Pi train departure board project after a random conversation with a mate over the weekend. It got me thinking that it would be very cool if I could, for his birthday, make him a nice display to go on the wall of his pub to display the train times (his pub is right next to our local station). However, to make this useful, it

[2022-03-02 15:36] chrisys commented on #67
Hey Steve, that sounds like an awesome project!

What's your experience like with assembling electronics? Could we use something like this? https://www.amazon.com/Indoor-128x64-Module-256mm128mm-256128mm/dp/B0869P1DCH

I think it would be possible to use 2 of the above to create the same 256x64 matrix as the small OLED screen, and make something pretty awesome to go in the pub. The above would giv

[2022-03-03 01:03] chrisys commented on #67
I ended up ordering a couple of those displays, I'll give it a try when they turn up and see how it works out 👍

[2022-03-03 08:22] Stavrosi commented on #67
Morning Chris, thanks for the update.

I’m inclined to order a pair also so that I can get to work on an enclosure to suit the panels as soon as they arrive.

Thanks again,

Steve.

From: Chris Crocker-White ***@***.***>
Sent: 03 March 2022 01:03
To: chrisys/train-departure-display ***@***.***>
Cc: Steve Bent ***@***.***>; Author ***@***.***>
Subject: Re: [chrisys/train-departure-display] Departur

[2022-03-03 22:38] chrisys commented on #67
Up to you Steve but no guarantees we can get it working at this stage, I mean to a certain extent it's just software so I am sure we can figure something out, but you may want to hold off.

[2022-03-04 11:58] mattanorak commented on #66
OK, thanks, Chris.
Out of interest - the OpenLDBWS API Key referenced in the instructions, do we use that one (ie is it the same for everyone, or is that just an example: f1ff949c-769e-49b3-8242-eee54fe91b94)

Matt

[2022-03-23 03:43] chrisys commented on #67
<img width="733" alt="Screenshot 2022-03-22 at 20 42 16" src="https://user-images.githubusercontent.com/521698/159619589-dca5439f-1f97-4627-9a17-67d4f102f248.png">

Hey @Stavrosi I got a proof of concept going! Will work on polishing it up and making relevant PRs. 👍

[2022-03-23 05:37] GOTO-GOSUB commented on #67
Now that is looking good.

[2022-03-23 14:29] chrisys commented on #67
It looks so good! There's something oddly satisfying about miniaturising something then making a bigger version of it again 😂

It's all relatively simple stuff, the main piece of work is adding support for these displays to the luma.led_matrix library (for which I'm creating a PR), then some minor tweaks to this project to utilise that.

A note for @Stavrosi though, you'll probably need a board li

[2022-04-06 14:19] chrisys commented on #67
@Stavrosi my PCBs and parts for the active-3 board are due to arrive within the next few days - do you want me to assemble an extra board and ship it to you for testing?

[2022-04-18 14:03] chrisys commented on #67
PCBs arrived at last! Still waiting on components.

![IMG_9394](https://user-images.githubusercontent.com/521698/163819314-c3c6c508-bf87-439c-b18d-15a8abfa7470.jpeg)

[2022-04-23 10:35] mattanorak opened #69 "Option for departures from a specific platform"
I was sure there was an option for this once, but I can't see it in the variables now.  Could you please add the option to be able to filter by only specific platforms - eg Platform 2.  You can do this on multi-screen, but can't see a way on single screen.
Thanks.

[2022-04-23 10:39] mattanorak commented on #69
Ah, I figured it.  Worth documenting though, for those running single screen, just add:
`Environment="screen1Platform=2"`
(or whichever platform you want to single out).

[2022-04-29 16:58] chrisys commented on #69
Thanks @mattanorak this is mentioned in the table of configuration variables in the readme, just wondering if what's there isn't clear enough or that you didn't originally find it?

[2022-05-02 16:16] mattanorak commented on #69
Hi @chrisys ,
In the configuration table, I initially read this to mean that the 2 variables were only valid if you had 2 screens set up (so if you have `dualScreen=true`.
Maybe an additional comment in the table of `screen1Platfom`, to say that this also works for a single screen environment (without having to set `dualScreen=true` if you want to display a single platform on a single screen setup

[2022-05-09 11:28] mattanorak opened #70 "Option for 1 Pi, dual screen setup showing different stations"
Not an issue, but an enhancement request...
I know you can have 1 station, 2 different platforms set up with dual screen, but would it be possible to set up dual screen on 1 Pi, so that you can show 2 different stations?

[2022-05-09 22:32] #66 closed

[2022-05-09 22:33] chrisys commented on #70
@mattanorak duplicate of #60 ? :)

[2022-05-09 22:33] #70 closed

[2022-05-09 23:47] #69 closed

[2022-05-10 00:20] mattanorak commented on #70
Ah, yes - apologies.  I'd forgotten I'd raised it already!

[2022-05-16 05:32] ScottTheHippy opened #72 "Acceptable for variables?"
Howdy- I'm trying to get the screen to show the time 24/7.  What I'm finding is that the variable(s) operatingHours, screenBlankHours,  and/or outOfHoursName seem to be in effect even if deleted.  I tried setting screenBlankHours to "0" and that didn't seem to make a difference.  Is there some combination of these variable settings that will lead to the clock showing 24/7?   Thanks, and fun thing

[2022-05-17 00:49] ScottTheHippy commented on #72
As a follow up, it seems the big hurdle is screenBlankHours.  If I delete the variable, it operates on the 1-6 default.  What disables this all together?  I'll try adding it back and setting it to 0-0.

[2022-05-17 01:09] chrisys commented on #72
@ScottTheHippy I've just written a fix for it to allow you to run with blank variables, when #73 merges give it a try and let me know!

[2022-05-17 01:24] #72 closed

[2022-05-17 01:26] chrisys commented on #72
P.S. thanks for building the project and thanks for reporting this! I am glad you had fun :) Feel free to reopen this issue if this does not fix it.

[2022-05-18 16:44] chrisys commented on #67
At last my component orders have arrived so will put together some boards and keep testing. Do you need me to send you a completed board if it works OK @Stavrosi ? I have 5 PCBs so much more than I need :)

[2022-05-30 21:50] chrisys opened #75 "Add version and release date to startup screen"
In order for users in future open fleets to know when the software has been updated.

[2022-06-13 13:24] mattanorak commented on #67
Hi @chrisys - Just wondering how you're getting on with this.  I'd be interested in a kit list and instructions for putting one together if you've got it working.
Is that a colour LCD board?  If so, are you planning on multi colour or just the one colour?

[2022-07-01 17:26] chrisys commented on #67
@mattanorak sorry I've not had a chance to push this forward any more yet, but yes it is an RGB LED matrix panel, so in my proof of concept had coded it so you can specify the colour of the display with an environment variable (single colour).

[2022-09-04 06:41] stephenhibbert opened #77 "Unhandled exception when internet is down"
I have a flakey internet connection at the moment - when it's down I get an unhandled exception (see [error.txt](https://github.com/chrisys/train-departure-display/files/9484165/error.txt) attached). Workaround is to specify `Restart=always` in the systemd service but maybe there is a better way to handle

P.S. the project is awesome, thanks for porting to the free national rail API.

[2022-09-22 13:09] mattanorak opened #78 "If set to station WBQ, screen is often blank, even after reboot."
Odd one to track down the issue, but if I have the board (running locally) set to WBQ as the station, it can work fine for a while, but then the screen will go blank.  It will appear to cycle through the start screen a couple of times and then remain blank.
Rebooting the Pi goes through the same cycle.
If I change the station to anything else, it seems fine.

Not sure where to look for logs to see

[2022-10-24 14:54] chrisys commented on #78
@mattanorak you should be able to use the logs output in the balenaCloud dashboard - for example in #77 the logs were shared (which I have a hunch is probably related).

[2022-10-24 15:02] mattanorak commented on #78
I'll give that a try - thanks.  I suspect it's the Pi Zero's Wi-Fi going to sleep and not recovering properly, but will try this.

Thanks.

[2022-11-21 13:55] jruys opened #79 "DeprecationWarning in Balena console at startup"
At startup of the Train Departure Display service I get several warnings like listed below. Seems to spell doom on or after 2023/07.

***

Starting Train Departure Display v0.3.4
src/main.py:175: DeprecationWarning: textsize is deprecated and will be removed in Pillow 10 (2023-07-01). Use textbbox or textlength instead.
  nameSize = draw.textsize("UK Train Departure Display", fontBold)